<!DOCTYPE html>
<html lang="en" ng-app="ecommerce-app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>


<body id="edit-product" ng-controller="AdminEditProductController">
    <header>
        <nav class="header">
            <div class="container-nav">
            
                <div class="flex-header">
                    <a href="/" ><img src="../css/img/CardsTCG.png" alt=""></a>
    
               
                    <ul class="navbar" >
                        <li >
                            <a ng-if="isAdmin && isAuthenticated" href="/admin" class="links" > <img src="./css/img/adm-icon.png" alt=""> Admin</a>
                        </li>
                        <li ng-if="!isAuthenticated">
                            <a href="/login.html"  aria-current="page">
                                <img src="./css/img/logout-icon.png" alt="">  Login</a> 
                             
                          
                        </li>
                        <li ng-if="isAuthenticated" class="nav-item">
                            <a href="./cart.html" class="links"> <img src="./css/img/shop-icon.png" alt="">Carrinho</a>
                        </li>
                        <li ng-if="isAuthenticated" class="nav-item">
                            <a href="./purchases.html" class="links"> <img src="./css/img/shop-icon.png" alt="">Compras</a>
                        </li>
                        <li ng-if="isAuthenticated" >
                            <button ng-click="logout()" class="links"><img src="./css/img/logout-icon.png" alt=""> Sair</button>
                        </li>
                    
                    </ul>
                 
                </div>
            </div>
            </div>
            <div>
                <ul class="nav-produtos">
                    <li>
                        <a href="../pokemon-page.html">Pokémon </a>
                    </li>
                    <li>
                        <a href="../yugioh-page.html">Yu-Gi-Oh!</a>
                    </li>
                    <li>
                        <a href="../magic-page.html">Magic: The Gathering</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <div class="row my-5 ">
            <div class="col-md-9">
                <h1>Editar prooduto</h1>
            </div>
           
        </div>
    
        <div class="row">
            <div class="col adm">
                <form ng-submit="handleSubmit()">
                    <img src="" 
                    ng-src="{{imageUrl || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnj2TWYskM8Or0ykoHKfKbf8YulsCWgTptlp1XdTjexw&s'}}"
                    alt=".">

                    <label class="d-block mb-1 ">
                        <strong class="d-block" >Nome do produto:</strong >
                        <input  ng-model="name" type="text" class="form-control" placeholder="Insira o nome do produto">
                    </label>

                    <label class="d-block  mt-3">
                        <strong class="d-block">Preço do produto:</strong >
                        <input ng-model="price" ng-change="formatPrice()" type="text" class="form-control" placeholder="Insira o preço">
                    </label>

                    <label class="d-block mt-3">
                        <strong class="d-block">Descrição:</strong >
                        <textarea ng-model="description" class="form-control" placeholder="Insira a descrição do produto"></textarea>
                    </label>

                    <label class="d-block mt-3">
                        <strong class="d-block">tipo:</strong >
                        <input  ng-model="type" class="form-control" placeholder="Insira o tipo de produto">
                    </label>

                    <label class="d-block mt-3">
                        <strong class="d-block">Link:</strong >
                        <input  ng-model="imageUrl" class="form-control" placeholder="Insira o link da imagem">
                    </label>

                    <button type="submit" class="btn btn-primary w-100 mt-3 btn-lg">Editar</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="flex-header">
            <a href="/" ><img src="../css/img/CardsTCG.png" alt=""></a>

                
            <ul class="navbar-footer" >
                <li >
                    <a  href="#" class="links" > Instagram</a>
                </li>
               
                <li class="nav-item">
                    <a href="#" class="links">Facebook</a>
                </li>
                <li  class="nav-item">
                    <a href="#" class="links"> Linkedin</a>
                </li>
            </ul>
        
        </div>
        <div class="direitos">
            <p>Alguns direitos reservados.</p>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        <script src="../js/app.js"></script>
        <script src="../js/lib/jwt-decode.js"></script>
        <script src="../js/services/admin.service.js"></script>
        <script src="../js/services/session.service.js"></script>
        <script src="../js/admin-edit-product.js"></script>
</body>
</html>